.App {
  text-align: center;
  font-size: 3rem;
}

.GameContainer, .FakeGameContainer {

  border: solid black;
  /* margin: 1rem 20rem; */
  margin: 1rem 1rem;
  padding: 0 0 3rem;
}

.SuperherosContainer {
  border: dotted gray;
  padding: 1rem 25rem;
  color: gray;
  margin: 1rem 1rem;
}

/* @media (max-width: 500px) {
  .GameContainer, .FakeGameContainer {
    margin: 0rem 0rem;
    padding: 0 0 2rem;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
