body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span { 
    display: inline-block;
    /* word-wrap:break-word; */
  }

h1 {
  margin: 1rem;
}

h3 {
  margin: 2rem auto 3rem;
}

h4 {
  margin: 1.5rem;
}

h6 {
  margin: -1rem;
}

p {
  margin: 1.5rem auto auto;
}

button {
  padding: 1rem;
  margin: 1rem 1rem 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo img {
  margin: -1rem 0 2rem;
  height: 10rem;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 1rem 1rem;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  /* border: solid red; */
  margin: 0 0 2rem;
  font-size: 2.5rem;
}

.RestartGame {
  padding: 1rem 0 0 0;
}

.GameContainer, .FakeGameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  font-size: 5rem;
  /* border: solid black; */
}

.InPublicContainer, .FakeInPublicContainer {
  min-height: 20rem;
  border: .25rem inset lightgray;
  width: 45%;
}

.QuarantinedContainer, .FakeQuarantinedContainer {
  min-height: 20rem;
  border: .5rem dotted #96AC35;
  width: 45%;
  color: #96AC35;
  cursor: not-allowed;
  display: block;
  /* word-wrap:break-word; */
}

.scoreButton {
  padding: .5rem;
}

.SuperherosContainer {
  border: dotted gray;
  padding: 1rem 25rem;
  color: gray;
  margin: 1rem 1rem;
}

.superherosButton {
  padding: .5rem;
}

.SuperheroForm {
  font-size: 1.5rem;
  color: gray;
}

.SuperheroForm input[type=text] {
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.SuperheroForm input[type=submit] {
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
}

/* Glow Naive Person */
.naivePersonEmoji {
  animation: naiveGlow 4000ms infinite;
}

@keyframes naiveGlow {
  0% { text-shadow: 0 0 -10px red; }
  100% { text-shadow: 0 0 40px red; }
}

/* Glow Sick Person */
.sickPersonEmoji {
  animation: sickGlow 4000ms infinite;
}

@keyframes sickGlow {
  0% { text-shadow: 0 0 -10px green; }
  100% { text-shadow: 0 0 40px green; }
}

/* make safe person opaque */
.safePersonEmoji {
  opacity: .75;
}

.FakeSafePersonEmoji {
  opacity: .75;
  padding: .5rem;
}

/* Un-Glow Quarantined Person */
.quarantinedPersonEmoji {
  animation: quarantinedGlow 15000ms infinite;
  opacity: .75;
  padding: .5rem;
}

.FakeQuarantinedPersonEmoji {
  opacity: .75;
  text-shadow: 0 0 40px red;
  padding: .5rem;
}

@keyframes quarantinedGlow {
  0% { text-shadow: 0 0 40px red; }
  100% { text-shadow: 0 0 -10px red; }
}

.quarantinedPersonCountdown {
  opacity: .25;
  color: red;
  padding: 0 .5rem 0 0; 
}

.FakeQuarantinedPersonCountdown {
  opacity: .25;
  color: red;
}

.savedPersonEmoji, .safePersonEmoji, .naivePersonEmoji, .sickPersonEmoji, .terminalPersonEmoji {
  padding: .5rem;
}

.fakeGameEmojis {
  padding: .5rem;
}

/* Mobile Responsiveness */

@media (max-width: 500px) {

  body {
    margin: 0 1rem;
  }

  button {
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  /* span { 
    display: inline-block;
  } */

  h4 {
  margin: 2rem .5rem;
  }

  .App {
    margin: 0 .25rem 1rem;
  }

  .GameContainer {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .InPublicContainer {
    width: 95%;
    margin: 0 0 1rem;
  }

  .QuarantinedContainer {
    width: 95%;
  }

  .SuperherosContainer {
    padding: 1rem 1rem;
  }

  .fakeGameEmojis {
    padding: .25rem;
  }

  .savedPersonEmoji, .safePersonEmoji, .naivePersonEmoji, .sickPersonEmoji, .terminalPersonEmoji {
    padding: .25rem;
  }

}